@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@600&display=swap');

body {
    font-family: Arial;
    color: #010B14;
    background-color: #F3F4F7;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}

body.dark-theme {
    transition: all ease-in-out 0.3s;
    background-color: #010B14;
    color: #F3F4F7;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#full-logo {
    width: 10rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
}

footer {
    position: fixed;
    left: 50vw;
    bottom: 0vh;
    transform: translate(-50%, 0%);
    display: grid;
    place-items: center;
    padding: var(--size-1);
    background-color: hsl(var(--bkg));
    color: hsl(var(--muted));
}

.clock {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
}
.clock h1 {
    margin: 1rem;
    font-size: 6em;
    text-align: center;
}

.clock h2 {
    margin: 1rem;
    padding: 0;
}






/*DARKMODE SWITCH*/
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: absolute;
    display: inline-block;
    width: 2.625em;
    height: 1.5em;
    top: 1.5rem;
    right: 2rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #002a33;
    transition: .4s;
    border-radius: 22px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.05em;
    width: 1.05em;
    border-radius: 15px;
    left: 0.225em;
    bottom: 0.225em;
    background-color: #002a33;
    box-shadow: inset 1.5px -1.5px 0 1.35px #fff;
    transition: .4s;
    animation: anima1 0.3s linear;
  }
    
  .switch input:checked + .slider,
  .switch input:checked + .slider:before {
        background-color: #23083b;
  }

  
  @keyframes anima1 {
    0% {
      transform: translateX(1.125em);
    }
  
    80% {
      transform: translateX(-0.225em);
    }
  
    100% {
      transform: translateX(0em);
    }
  }
  
  .switch input:checked + .slider:before {
    background-color: yellow;
    box-shadow: none;
    transform: translateX(1.125em);
    animation: anima 0.3s linear;
  }
  
  @keyframes anima {
    0% {
      transform: translateX(0px)
    }
  
    80% {
      transform: translateX(1.2em)
    }
  
    100% {
      transform: translateX(1.05em)
    }
  }